<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
   version="6.0">

    <servlet>
        <servlet-name>CVServlet</servlet-name>
        <servlet-class>com.CVapp.controller.CVServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CVServlet</servlet-name>
        <url-pattern>/cv</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

</web-app>
